.shape {
  margin: 16px;
}
.square {
  width: 100px;
  height: 100px;
  background-color: red;
}
.triangle {
  width: 0;
  height: 0;
  border-bottom: 100px solid green;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}
.parallelogram {
  width: 100px;
  height: 100px;
  background-color: pink;
  transform: skewX(-30deg);
}
.diamond {
  width: 100px;
  height: 100px;
  background-color: brown;
  transform: rotate(45deg) translateY(10px);
}
.heart {
  /* height: 100px; */
  /* width: 50px; */
  background-color: red;
  position: relative;
}
.heart::after {
  content: "";
  display: block;
  height: 100px;
  width: 50px;
  background-color: red;
  transform: rotate(45deg);
  border-radius: 50px 50px 0 0;
  position: absolute;
}
.heart::before {
  content: "";
  display: block;
  height: 100px;
  width: 50px;
  background-color: red;
  transform: rotate(-45deg);
  border-radius: 50px 50px 0 0;
  position: absolute;
  transform-origin: 0 100%;
}
